Flask==2.0.1
Flask-Cors==3.0.9
flask-paginate==0.8.1
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==2.0
html5lib==0.999
httplib2==0.8
itsdangerous==0.24
Jinja2==3.0.1
lockfile==0.8
lxml==3.3.3
Mako==0.9.1
MarkupSafe==0.23
oauthlib==0.6.1
pandas==0.17.1
Quandl==2.8.9
requests==2.2.1
six==1.5.2
sortedcontainers==0.9.6
SQLAlchemy==1.0.8
urllib3==1.7.1
virtualenv==13.0.3
Werkzeug==2.0.1
xlrd==0.9.4
zope.interface==4.0.5
