
.foo{
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-color: rgba(0,0,0);}
.foo {   
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255,255,255);
    display: inline;
}



